/* -*- css -*- */

nav {
    position: relative;
    ul,li {
	margin: 0;
	padding: 0;
	list-style: none;
    }
    /* Carousel */
    img:first-child {
	position: relative;
    }
    img.active, img.active.unselected, img.selected {
	opacity: 1;
    }
    img.unselected {
	opacity: 0;
    }
    img {
	position: absolute;
	vertical-align: bottom;
	top: 0; left: 0;
	max-width: 100%;
	height: auto;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
	z-index: 3;
	interpolation-mode: bicubic;
    }
    img.active {
	z-index: 2;
    }
    /* Menu */
    div.oasis-menu {
	width: 100%;
	background: rgba(255,255,255,0.6);
	.font-size(1.625);
	position: relative; z-index: 10;
	margin-top: -1.56em;
	padding: 0.3em 0;
	ul {
	    text-align: center;
	}
	li {
	    padding: 0 0.2em;
	    display: inline;
	}
    }
    a {
	font-family: @font-headings;
	text-decoration: none;
	&:visited {
	    color: @theme-color;
	}
	transition: all 0.2s ease-in-out;
    }
    a {
	text-shadow: white 0 1px 2px, white 1px 1px 1px;
	color: @theme-color;	
    }
    li.active a, li:hover a {
	text-shadow: @theme-color 0 0 6px, white 1px 1px 1px;
	color: darken(@theme-color, 5%);
    }
}

@media only screen and (min-width: @page-width) {
    nav:before {
	position: absolute;
	display: block;
	top: 0;
	right: 0.2em;
	font-family: @font-headings;
	font-weight: bold;
	.font-size(4);
	color: transparent;
	text-shadow: rgba(0,0,0,0.1) -1px 0,
	             rgba(0,0,0,0.2) 0 -1px,
	             rgba(231,189,147,0.9) 0 1px,
	             rgba(0,0,0,0.2) -1px -2px;
	content: "Une oasis, une école";
	z-index: 100;
    }
}
