<!doctype html>
<html class="no-js" lang="{{ resource.meta.language }}">
<head>
  <meta charset="utf-8">
{% if resource.meta.title %}
  <title>{{ resource.meta.title|e }} » Une oasis, une école</title>
{% else %}
  <title>Une oasis, une école</title>
{% endif %}
  <meta name="keywords" content="oasis, école, mauritanie, adrar, scolarité, afrique, puits">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="canonical" href="{{base}}{{ content_url(resource.url) }}">
  <link rel="icon" type="image/png" href="{{ media_url('images/l/favicon.png') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:400,400italic|Lobster&amp;subset=latin,latin-ext" type="text/css">
  <link rel="stylesheet" href="{{ media_url('css/oasis.css') }}" type="text/css">
  <script src="{{ media_url('js/mp.js') }}"></script>
</head>
<body>

  <div class="oasis-sheet">
  {% include "menu.j2" %}

  <article>
{% if resource.meta.title %}
    <header>
      <h1>{{resource.meta.title|typogrify|e}}</h1>
    </header>
{% endif %}
    <div role="main">
      {% filter markdown|typogrify -%}
      {% block article -%}{%- endblock %}
      {%- endfilter %}
    </div>
  </article>
  </div>

  <footer>
    <a href="https://github.com/vincentbernat/www.une-oasis-une-ecole.fr">Sources</a>
  </footer>

  <script src="{{ media_url('js/oasis.js') }}" async></script>
</body>
</html>
