{# -*- html -*- #}
<nav>
  {% set current = (resource.url == "/index.html") and "/" or resource.url %}
  <div class="oasis-menu"><ul>
    {% for menu in resource.meta.menu %}
    {% set active=(content_url(current) == content_url(menu['page'])) %}
    <li {% if active %} class="active"{% endif %}>
      <a href="{{ content_url(menu['page']) }}">
	{{ menu['name']|e }}
      </a>
      <img src="{{ media_url('images/b/' + menu['image']) }}"
	   alt="{{ menu['name']|e }}">
    </li>
    {% endfor %}
  </ul></div>
</nav>
