{# nginx configuration to be included #}
index         index.html;
error_page    404 {{content_url('/404.html')}};
add_header    "X-UA-Compatible" "IE=Edge";

location = /nginx.conf {
  expires     max;
  return      404;
}

location / {
  try_files $uri.html $uri $uri/index.html =404;
}
location {{content_url('/404.html')}} {
  internal;
  try_files $uri.html $uri;
}

{# redirections #}
location = /favicon.ico {
  expires     60d;
  rewrite ^  /media/favicon.ico break;
}

location ~ ^(?<canonical>.+)/(?:index\.html|index\.php)?$ {
  access_log off;
  log_not_found off;
  http2_push $canonical;
  return 301 $canonical;
}
location ~ ^(?<canonical>.*)\.(?:html|php)$ {
  access_log off;
  log_not_found off;
  http2_push $canonical;
  return 301 $canonical;
}
