{# nginx configuration to be included #}
index         index.html;
error_page    404 {{content_url('/404.html')}};
expires       6h;
add_header    "Referrer-Policy" "no-referrer-when-downgrade";
add_header    "X-Content-Type-Options" "nosniff";

location = /nginx.conf {
  return      404;
}

location / {
  try_files $uri.html $uri $uri/index.html =404;
}
location {{content_url('/404.html')}} {
  internal;
  try_files $uri.html $uri;
}

{# redirections #}
location ~ ^(?<canonical>.+)/(?:index\.html|index\.php)?$ {
  access_log off;
  log_not_found off;
  http2_push $canonical;
  return 301 $canonical;
}
location ~ ^(?<canonical>.*)\.(?:html|php)$ {
  access_log off;
  log_not_found off;
  http2_push $canonical;
  return 301 $canonical;
}
