{# nginx configuration to be included #}
index         index.html;
error_page    404 {{content_url('/404.html')}};
add_header    "X-UA-Compatible" "IE=Edge";

location = /nginx.conf {
  expires     max;
  return      404;
}

{# redirections #}
location = /favicon.ico {
  expires     60d;
  rewrite ^  /media/favicon.ico break;
}

{% for res in site.content.walk_resources()
   if res.source.kind == "html" and content_url(res.url).endswith(".html")
%}
rewrite ^{{ content_url(res.url)|replace(".html", ".php") }} {{ content_url(res.url) }} permanent;
{% endfor %}
rewrite ^/index.php / permanent;
